<div class="row">
    <div class="col-lg-4">
        {% set navList = navList_01 %}
        {% include "molecules-nav" %}
    </div>
    <div class="col-lg-4 ">
        {% set item = title %}
        {% include "atoms-title" %}
    </div>
    <div class="col-lg-4">
        {% set navList = navList_02 %}
        {% include "molecules-nav" %}
    </div>
</div>
