<div class="quote{{quoteStyleModifier}}">
    {% if item.img %}
     <div class="quote__img">
        {% include "atoms-image" with { img:item.img } %}
    </div>
    {% endif %}
    <h2>{{item.text}}</h2>

    {% if item.imgBottom %}
     <div class="quote__img">
        {% include "atoms-image" with { img:item.imgBottom } %}
    </div>
    {% endif %}
</div>
<!--Quote-->
