.quote {
    width: auto;

  h2 {
    @include rem ((
      font-family: 'Italiana',
      font-size: 30px,
      font-weight: 400,
      color: $secondary-color,
      line-height: calc(30/30),
      letter-spacing: .05rem,
      text-transform: uppercase,
    ));
  }

  .quote__img img{
    @include rem ((
      height: auto,
      width: 150px,
      margin-top: -40px,
    ));
  }

  @include media-breakpoint-up (lg) {
    @include rem ((
      width: 1088px,
    ));
    h2 {
      @include rem ((
        font-size: 80px,

        line-height: calc(90/80),
      ))
    }

    .quote__img img {
      @include rem ((
        width: 300px,
        margin-top: -70px,
      ))
    }
  }
}
