<div class="container">
    <div class="text-xs-center">
        {% include "atoms-title" with {item: section} %}
    </div>
        {% set swiper = section_swiper %}
        {% include "organisms-swiper" with {includeFile:"molecules-infobox-01" , pagination: "true" } %}

</div>
