.bg-wedding-menu {
  background: $primary-color;
}

.main-menu {
  a {
    @include rem ((
      font-size: 18px,
      font-weight: 400,
      line-height: initial,
      color: #C8A3C8,
      margin-right: 15px,
    ));

    &:hover {
      color: $default-color;
    }

    @include media-breakpoint-up (xl) {
      line-height: 6;
      margin-right: 30px,
    }
  }

  a.navbar-brand {
    @include rem ((
      font-size: 24px,
      text-transform: uppercase,
      color: $secondary-color,
      font-weight: bold,
      margin-top: 0,
      padding: 10px 0,
    ));

    @include media-breakpoint-up (xl) {
      @include rem ((
        position: absolute,
        top: 30px,
        left: 43%,
        line-height: 1,
      ))
    }
  }

  @include media-breakpoint-up (lg) {
    .navbar button {
      float: right;
      display: none;
      color: white;
    }
  }

  .navbar .navbar-brand {
    float: initial;
    position: relative;
  }

  .navbar .collapse {
      display: block;
  }

  .navbar-right ul{
    text-align: left;
    float: right ;

  }

  .navbar .nav-item {
    float: initial;
    float: left;

    & + .nav-item {
      margin-left: 0;
    }
  }
}
