// pagination style 03

.swiper-pagination--03 {
  width: 100%;

  .swiper-pagination-bullet {
    margin: 0 210px;
    width: 20px;
    height: 20px;
    background-color: $border-color;
    border: 1px solid $default-color;
    padding: 6px;
  }

  .swiper-pagination-bullet-active {
    background-color: $secondary-color !important;
  }
}


.swiper--02 {
  .swiper-pagination {
      @include rem ((
    margin-top: 40px,

  ));
  }

  @include media-breakpoint-up (xl) {
    .swiper-container {
      @include rem ((
        position: relative,
        margin-top: 400px,
      ));
    }

    .swiper-pagination {
      @include rem ((
        margin-top: 35px,
      ))
    }

    .swiper__date {
      @include rem ((
        margin-top: 65px,
        text-align: center,
      ));
    }
  }
}

.swiper--03 {
        .swiper-btn {
        @include rem ((
          border: 0,
          border-radius: 5px,
        ))
      }

  @include media-breakpoint-up (xl) {
    .swiper-container {
      @include rem ((
        height: 1000px,
      ));

      .swiper-btn {
        @include rem ((
          margin-right: 10px,
        ));
      }

      .swiper-btn:hover img {
        filter: invert(100%);
      }

      .swiper-btn--next {
        top: 45%;
      }

      .swiper-btn--prev {
        left: unset;
        right: 0;
      }
    }
  }
}
.swiper--04 {
  img {
    max-width: 100%;
  }
  @include media-breakpoint-up(xl){
    img {
      max-width: 100%;
    }
  }
}
