<div class="swiper{{swiperStyleModifier}}">
    <div class="swiper-container ">
        <div  data-init="swiper" data-loop="true" data-next-button=".swiper-btn--next" data-prev-button=".swiper-btn--prev" data-pagination=".swiper-pagination" data-slide-to-clicked-slide="true" data-slides-per-view="3" data-space-between="50">

            <div class="swiper-wrapper">
                {% for item in swiper %}
                <div class="swiper-slide">
                    <div class="carousel__item">
                        <div class="row">

                            {% include includeFile with { infoboxStyleModifier: modifierFile } %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% if pagination == true %}
            <div class="swiper-pagination"></div>
        {% endif %}

        {% if swiper_btn == true %}
            <div class="swiper-btn swiper-btn--next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <div class="swiper-btn swiper-btn--prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        {% endif %}
    </div>
</div>
