// pagination style 03

.swiper-pagination--03 {
  width: 110%;

  .swiper-pagination-bullet {
    margin-right: 440px;
    float:left;


    width: 20px;
    height: 20px;
    background-color: $border-color;
    border: 1px solid $default-color;
    padding: 6px;
  }

  .swiper-pagination-bullet-active {
    background-color: $secondary-color !important;
  }
}


.swiper--02 {
  .swiper-pagination {
    display: none;
  }

  .infobox {
    @include rem ((
      margin-bottom: 16px,
    ))
  }

  .box__time {
    color: white;
  }

  @include media-breakpoint-up (xl) {
    .swiper-pagination {
      @include rem ((
        display: initial,
        margin-top: -10px,
      ))
    }

    .swiper__sync {
      @include rem ((
        position: relative,
        top: 10px,
      ));
    }

    .box__time {
      color: $secondary-color;
    }

    h2.box__title,
    .box__desc {
      @include rem ((
        margin-right: 100px,
      ))

    }
  }
}

.swiper--03 {
  .swiper-btn {
    @include rem ((
      border: 0,
      border-radius: 5px,
    ))
   }

  @include media-breakpoint-up (xl) {
    .swiper-container {
      @include rem ((
        height: 1000px,
      ));

      .swiper-btn {
        @include rem ((
          margin-right: 10px,
        ));
      }

      .swiper-btn:hover img {
        filter: invert(100%);
      }

      .swiper-btn--next {
        top: 45%;
      }

      .swiper-btn--prev {
        left: unset;
        right: 0;
      }
    }
  }
}
.swiper--04 {
  img {
    max-width: 100%;
  }
  @include media-breakpoint-up(xl){
    img {
      max-width: 100%;
    }
  }
}
