// FontAwesome
%fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin fa($icon) {
  content: $icon;
  @extend %fa;
}

// Font insidekit
%fi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Flaticon' !important;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin fi($icon) {
  content: $icon;
  @extend %fi;
}

// Font Icons
$font-Flaticon-add                        : "\f100";
$font-Flaticon-add-1                      : "\f101";
$font-Flaticon-add-2                      : "\f102";
$font-Flaticon-add-3                      : "\f103";
$font-Flaticon-agenda                     : "\f104";
$font-Flaticon-alarm                      : "\f105";
$font-Flaticon-alarm-1                    : "\f106";
$font-Flaticon-alarm-clock                : "\f107";
$font-Flaticon-alarm-clock-1              : "\f108";
$font-Flaticon-albums                     : "\f109";
$font-Flaticon-app                        : "\f10a";
$font-Flaticon-archive                    : "\f10b";
$font-Flaticon-archive-1                  : "\f10c";
$font-Flaticon-archive-2                  : "\f10d";
$font-Flaticon-archive-3                  : "\f10e";
$font-Flaticon-attachment                 : "\f10f";
$font-Flaticon-back                       : "\f110";
$font-Flaticon-battery                    : "\f111";
$font-Flaticon-battery-1                  : "\f112";
$font-Flaticon-battery-2                  : "\f113";
$font-Flaticon-battery-3                  : "\f114";
$font-Flaticon-battery-4                  : "\f115";
$font-Flaticon-battery-5                  : "\f116";
$font-Flaticon-battery-6                  : "\f117";
$font-Flaticon-battery-7                  : "\f118";
$font-Flaticon-battery-8                  : "\f119";
$font-Flaticon-battery-9                  : "\f11a";
$font-Flaticon-binoculars                 : "\f11b";
$font-Flaticon-blueprint                  : "\f11c";
$font-Flaticon-bluetooth                  : "\f11d";
$font-Flaticon-bluetooth-1                : "\f11e";
$font-Flaticon-bookmark                   : "\f11f";
$font-Flaticon-bookmark-1                 : "\f120";
$font-Flaticon-briefcase                  : "\f121";
$font-Flaticon-broken-link                : "\f122";
$font-Flaticon-calculator                 : "\f123";
$font-Flaticon-calculator-1               : "\f124";
$font-Flaticon-calendar                   : "\f125";
$font-Flaticon-calendar-1                 : "\f126";
$font-Flaticon-calendar-2                 : "\f127";
$font-Flaticon-calendar-3                 : "\f128";
$font-Flaticon-calendar-4                 : "\f129";
$font-Flaticon-calendar-5                 : "\f12a";
$font-Flaticon-calendar-6                 : "\f12b";
$font-Flaticon-calendar-7                 : "\f12c";
$font-Flaticon-checked                    : "\f12d";
$font-Flaticon-checked-1                  : "\f12e";
$font-Flaticon-clock                      : "\f12f";
$font-Flaticon-clock-1                    : "\f130";
$font-Flaticon-close                      : "\f131";
$font-Flaticon-cloud                      : "\f132";
$font-Flaticon-cloud-computing            : "\f133";
$font-Flaticon-cloud-computing-1          : "\f134";
$font-Flaticon-cloud-computing-2          : "\f135";
$font-Flaticon-cloud-computing-3          : "\f136";
$font-Flaticon-cloud-computing-4          : "\f137";
$font-Flaticon-cloud-computing-5          : "\f138";
$font-Flaticon-command                    : "\f139";
$font-Flaticon-compact-disc               : "\f13a";
$font-Flaticon-compact-disc-1             : "\f13b";
$font-Flaticon-compact-disc-2             : "\f13c";
$font-Flaticon-compass                    : "\f13d";
$font-Flaticon-compose                    : "\f13e";
$font-Flaticon-controls                   : "\f13f";
$font-Flaticon-controls-1                 : "\f140";
$font-Flaticon-controls-2                 : "\f141";
$font-Flaticon-controls-3                 : "\f142";
$font-Flaticon-controls-4                 : "\f143";
$font-Flaticon-controls-5                 : "\f144";
$font-Flaticon-controls-6                 : "\f145";
$font-Flaticon-controls-7                 : "\f146";
$font-Flaticon-controls-8                 : "\f147";
$font-Flaticon-controls-9                 : "\f148";
$font-Flaticon-database                   : "\f149";
$font-Flaticon-database-1                 : "\f14a";
$font-Flaticon-database-2                 : "\f14b";
$font-Flaticon-database-3                 : "\f14c";
$font-Flaticon-diamond                    : "\f14d";
$font-Flaticon-diploma                    : "\f14e";
$font-Flaticon-dislike                    : "\f14f";
$font-Flaticon-dislike-1                  : "\f150";
$font-Flaticon-divide                     : "\f151";
$font-Flaticon-divide-1                   : "\f152";
$font-Flaticon-division                   : "\f153";
$font-Flaticon-document                   : "\f154";
$font-Flaticon-download                   : "\f155";
$font-Flaticon-edit                       : "\f156";
$font-Flaticon-edit-1                     : "\f157";
$font-Flaticon-eject                      : "\f158";
$font-Flaticon-eject-1                    : "\f159";
$font-Flaticon-equal                      : "\f15a";
$font-Flaticon-equal-1                    : "\f15b";
$font-Flaticon-equal-2                    : "\f15c";
$font-Flaticon-error                      : "\f15d";
$font-Flaticon-exit                       : "\f15e";
$font-Flaticon-exit-1                     : "\f15f";
$font-Flaticon-exit-2                     : "\f160";
$font-Flaticon-eyeglasses                 : "\f161";
$font-Flaticon-fast-forward               : "\f162";
$font-Flaticon-fast-forward-1             : "\f163";
$font-Flaticon-fax                        : "\f164";
$font-Flaticon-file                       : "\f165";
$font-Flaticon-file-1                     : "\f166";
$font-Flaticon-file-2                     : "\f167";
$font-Flaticon-film                       : "\f168";
$font-Flaticon-fingerprint                : "\f169";
$font-Flaticon-flag                       : "\f16a";
$font-Flaticon-flag-1                     : "\f16b";
$font-Flaticon-flag-2                     : "\f16c";
$font-Flaticon-flag-3                     : "\f16d";
$font-Flaticon-flag-4                     : "\f16e";
$font-Flaticon-focus                      : "\f16f";
$font-Flaticon-folder                     : "\f170";
$font-Flaticon-folder-1                   : "\f171";
$font-Flaticon-folder-10                  : "\f172";
$font-Flaticon-folder-11                  : "\f173";
$font-Flaticon-folder-12                  : "\f174";
$font-Flaticon-folder-13                  : "\f175";
$font-Flaticon-folder-14                  : "\f176";
$font-Flaticon-folder-15                  : "\f177";
$font-Flaticon-folder-16                  : "\f178";
$font-Flaticon-folder-17                  : "\f179";
$font-Flaticon-folder-18                  : "\f17a";
$font-Flaticon-folder-19                  : "\f17b";
$font-Flaticon-folder-2                   : "\f17c";
$font-Flaticon-folder-3                   : "\f17d";
$font-Flaticon-folder-4                   : "\f17e";
$font-Flaticon-folder-5                   : "\f17f";
$font-Flaticon-folder-6                   : "\f180";
$font-Flaticon-folder-7                   : "\f181";
$font-Flaticon-folder-8                   : "\f182";
$font-Flaticon-folder-9                   : "\f183";
$font-Flaticon-forbidden                  : "\f184";
$font-Flaticon-funnel                     : "\f185";
$font-Flaticon-garbage                    : "\f186";
$font-Flaticon-garbage-1                  : "\f187";
$font-Flaticon-garbage-2                  : "\f188";
$font-Flaticon-gift                       : "\f189";
$font-Flaticon-help                       : "\f18a";
$font-Flaticon-hide                       : "\f18b";
$font-Flaticon-hold                       : "\f18c";
$font-Flaticon-home                       : "\f18d";
$font-Flaticon-home-1                     : "\f18e";
$font-Flaticon-home-2                     : "\f18f";
$font-Flaticon-hourglass                  : "\f190";
$font-Flaticon-hourglass-1                : "\f191";
$font-Flaticon-hourglass-2                : "\f192";
$font-Flaticon-hourglass-3                : "\f193";
$font-Flaticon-house                      : "\f194";
$font-Flaticon-id-card                    : "\f195";
$font-Flaticon-id-card-1                  : "\f196";
$font-Flaticon-id-card-2                  : "\f197";
$font-Flaticon-id-card-3                  : "\f198";
$font-Flaticon-id-card-4                  : "\f199";
$font-Flaticon-id-card-5                  : "\f19a";
$font-Flaticon-idea                       : "\f19b";
$font-Flaticon-incoming                   : "\f19c";
$font-Flaticon-infinity                   : "\f19d";
$font-Flaticon-info                       : "\f19e";
$font-Flaticon-internet                   : "\f19f";
$font-Flaticon-key                        : "\f1a0";
$font-Flaticon-lamp                       : "\f1a1";
$font-Flaticon-layers                     : "\f1a2";
$font-Flaticon-layers-1                   : "\f1a3";
$font-Flaticon-like                       : "\f1a4";
$font-Flaticon-like-1                     : "\f1a5";
$font-Flaticon-like-2                     : "\f1a6";
$font-Flaticon-link                       : "\f1a7";
$font-Flaticon-list                       : "\f1a8";
$font-Flaticon-list-1                     : "\f1a9";
$font-Flaticon-lock                       : "\f1aa";
$font-Flaticon-lock-1                     : "\f1ab";
$font-Flaticon-locked                     : "\f1ac";
$font-Flaticon-locked-1                   : "\f1ad";
$font-Flaticon-locked-2                   : "\f1ae";
$font-Flaticon-locked-3                   : "\f1af";
$font-Flaticon-locked-4                   : "\f1b0";
$font-Flaticon-locked-5                   : "\f1b1";
$font-Flaticon-locked-6                   : "\f1b2";
$font-Flaticon-login                      : "\f1b3";
$font-Flaticon-magic-wand                 : "\f1b4";
$font-Flaticon-magnet                     : "\f1b5";
$font-Flaticon-magnet-1                   : "\f1b6";
$font-Flaticon-magnet-2                   : "\f1b7";
$font-Flaticon-map                        : "\f1b8";
$font-Flaticon-map-1                      : "\f1b9";
$font-Flaticon-map-2                      : "\f1ba";
$font-Flaticon-map-location               : "\f1bb";
$font-Flaticon-megaphone                  : "\f1bc";
$font-Flaticon-megaphone-1                : "\f1bd";
$font-Flaticon-menu                       : "\f1be";
$font-Flaticon-menu-1                     : "\f1bf";
$font-Flaticon-menu-2                     : "\f1c0";
$font-Flaticon-menu-3                     : "\f1c1";
$font-Flaticon-menu-4                     : "\f1c2";
$font-Flaticon-microphone                 : "\f1c3";
$font-Flaticon-microphone-1               : "\f1c4";
$font-Flaticon-minus                      : "\f1c5";
$font-Flaticon-minus-1                    : "\f1c6";
$font-Flaticon-more                       : "\f1c7";
$font-Flaticon-more-1                     : "\f1c8";
$font-Flaticon-more-2                     : "\f1c9";
$font-Flaticon-multiply                   : "\f1ca";
$font-Flaticon-multiply-1                 : "\f1cb";
$font-Flaticon-music-player               : "\f1cc";
$font-Flaticon-music-player-1             : "\f1cd";
$font-Flaticon-music-player-2             : "\f1ce";
$font-Flaticon-music-player-3             : "\f1cf";
$font-Flaticon-mute                       : "\f1d0";
$font-Flaticon-muted                      : "\f1d1";
$font-Flaticon-navigation                 : "\f1d2";
$font-Flaticon-navigation-1               : "\f1d3";
$font-Flaticon-network                    : "\f1d4";
$font-Flaticon-newspaper                  : "\f1d5";
$font-Flaticon-next                       : "\f1d6";
$font-Flaticon-note                       : "\f1d7";
$font-Flaticon-notebook                   : "\f1d8";
$font-Flaticon-notebook-1                 : "\f1d9";
$font-Flaticon-notebook-2                 : "\f1da";
$font-Flaticon-notebook-3                 : "\f1db";
$font-Flaticon-notebook-4                 : "\f1dc";
$font-Flaticon-notebook-5                 : "\f1dd";
$font-Flaticon-notepad                    : "\f1de";
$font-Flaticon-notepad-1                  : "\f1df";
$font-Flaticon-notepad-2                  : "\f1e0";
$font-Flaticon-notification               : "\f1e1";
$font-Flaticon-paper-plane                : "\f1e2";
$font-Flaticon-paper-plane-1              : "\f1e3";
$font-Flaticon-pause                      : "\f1e4";
$font-Flaticon-pause-1                    : "\f1e5";
$font-Flaticon-percent                    : "\f1e6";
$font-Flaticon-percent-1                  : "\f1e7";
$font-Flaticon-perspective                : "\f1e8";
$font-Flaticon-photo-camera               : "\f1e9";
$font-Flaticon-photo-camera-1             : "\f1ea";
$font-Flaticon-photos                     : "\f1eb";
$font-Flaticon-picture                    : "\f1ec";
$font-Flaticon-picture-1                  : "\f1ed";
$font-Flaticon-picture-2                  : "\f1ee";
$font-Flaticon-pin                        : "\f1ef";
$font-Flaticon-placeholder                : "\f1f0";
$font-Flaticon-placeholder-1              : "\f1f1";
$font-Flaticon-placeholder-2              : "\f1f2";
$font-Flaticon-placeholder-3              : "\f1f3";
$font-Flaticon-placeholders               : "\f1f4";
$font-Flaticon-play-button                : "\f1f5";
$font-Flaticon-play-button-1              : "\f1f6";
$font-Flaticon-plus                       : "\f1f7";
$font-Flaticon-power                      : "\f1f8";
$font-Flaticon-previous                   : "\f1f9";
$font-Flaticon-price-tag                  : "\f1fa";
$font-Flaticon-print                      : "\f1fb";
$font-Flaticon-push-pin                   : "\f1fc";
$font-Flaticon-radar                      : "\f1fd";
$font-Flaticon-reading                    : "\f1fe";
$font-Flaticon-record                     : "\f1ff";
$font-Flaticon-repeat                     : "\f200";
$font-Flaticon-repeat-1                   : "\f201";
$font-Flaticon-restart                    : "\f202";
$font-Flaticon-resume                     : "\f203";
$font-Flaticon-rewind                     : "\f204";
$font-Flaticon-rewind-1                   : "\f205";
$font-Flaticon-route                      : "\f206";
$font-Flaticon-save                       : "\f207";
$font-Flaticon-search                     : "\f208";
$font-Flaticon-search-1                   : "\f209";
$font-Flaticon-send                       : "\f20a";
$font-Flaticon-server                     : "\f20b";
$font-Flaticon-server-1                   : "\f20c";
$font-Flaticon-server-2                   : "\f20d";
$font-Flaticon-server-3                   : "\f20e";
$font-Flaticon-settings                   : "\f20f";
$font-Flaticon-settings-1                 : "\f210";
$font-Flaticon-settings-2                 : "\f211";
$font-Flaticon-settings-3                 : "\f212";
$font-Flaticon-settings-4                 : "\f213";
$font-Flaticon-settings-5                 : "\f214";
$font-Flaticon-settings-6                 : "\f215";
$font-Flaticon-settings-7                 : "\f216";
$font-Flaticon-settings-8                 : "\f217";
$font-Flaticon-settings-9                 : "\f218";
$font-Flaticon-share                      : "\f219";
$font-Flaticon-share-1                    : "\f21a";
$font-Flaticon-share-2                    : "\f21b";
$font-Flaticon-shuffle                    : "\f21c";
$font-Flaticon-shuffle-1                  : "\f21d";
$font-Flaticon-shutdown                   : "\f21e";
$font-Flaticon-sign                       : "\f21f";
$font-Flaticon-sign-1                     : "\f220";
$font-Flaticon-skip                       : "\f221";
$font-Flaticon-smartphone                 : "\f222";
$font-Flaticon-smartphone-1               : "\f223";
$font-Flaticon-smartphone-10              : "\f224";
$font-Flaticon-smartphone-11              : "\f225";
$font-Flaticon-smartphone-2               : "\f226";
$font-Flaticon-smartphone-3               : "\f227";
$font-Flaticon-smartphone-4               : "\f228";
$font-Flaticon-smartphone-5               : "\f229";
$font-Flaticon-smartphone-6               : "\f22a";
$font-Flaticon-smartphone-7               : "\f22b";
$font-Flaticon-smartphone-8               : "\f22c";
$font-Flaticon-smartphone-9               : "\f22d";
$font-Flaticon-speaker                    : "\f22e";
$font-Flaticon-speaker-1                  : "\f22f";
$font-Flaticon-speaker-2                  : "\f230";
$font-Flaticon-speaker-3                  : "\f231";
$font-Flaticon-speaker-4                  : "\f232";
$font-Flaticon-speaker-5                  : "\f233";
$font-Flaticon-speaker-6                  : "\f234";
$font-Flaticon-speaker-7                  : "\f235";
$font-Flaticon-speaker-8                  : "\f236";
$font-Flaticon-spotlight                  : "\f237";
$font-Flaticon-star                       : "\f238";
$font-Flaticon-star-1                     : "\f239";
$font-Flaticon-stop                       : "\f23a";
$font-Flaticon-stop-1                     : "\f23b";
$font-Flaticon-stopwatch                  : "\f23c";
$font-Flaticon-stopwatch-1                : "\f23d";
$font-Flaticon-stopwatch-2                : "\f23e";
$font-Flaticon-stopwatch-3                : "\f23f";
$font-Flaticon-stopwatch-4                : "\f240";
$font-Flaticon-street                     : "\f241";
$font-Flaticon-street-1                   : "\f242";
$font-Flaticon-substract                  : "\f243";
$font-Flaticon-substract-1                : "\f244";
$font-Flaticon-success                    : "\f245";
$font-Flaticon-switch                     : "\f246";
$font-Flaticon-switch-1                   : "\f247";
$font-Flaticon-switch-2                   : "\f248";
$font-Flaticon-switch-3                   : "\f249";
$font-Flaticon-switch-4                   : "\f24a";
$font-Flaticon-switch-5                   : "\f24b";
$font-Flaticon-switch-6                   : "\f24c";
$font-Flaticon-switch-7                   : "\f24d";
$font-Flaticon-tabs                       : "\f24e";
$font-Flaticon-tabs-1                     : "\f24f";
$font-Flaticon-target                     : "\f250";
$font-Flaticon-television                 : "\f251";
$font-Flaticon-television-1               : "\f252";
$font-Flaticon-time                       : "\f253";
$font-Flaticon-trash                      : "\f254";
$font-Flaticon-umbrella                   : "\f255";
$font-Flaticon-unlink                     : "\f256";
$font-Flaticon-unlocked                   : "\f257";
$font-Flaticon-unlocked-1                 : "\f258";
$font-Flaticon-unlocked-2                 : "\f259";
$font-Flaticon-upload                     : "\f25a";
$font-Flaticon-user                       : "\f25b";
$font-Flaticon-user-1                     : "\f25c";
$font-Flaticon-user-2                     : "\f25d";
$font-Flaticon-user-3                     : "\f25e";
$font-Flaticon-user-4                     : "\f25f";
$font-Flaticon-user-5                     : "\f260";
$font-Flaticon-user-6                     : "\f261";
$font-Flaticon-user-7                     : "\f262";
$font-Flaticon-users                      : "\f263";
$font-Flaticon-users-1                    : "\f264";
$font-Flaticon-video-camera               : "\f265";
$font-Flaticon-video-camera-1             : "\f266";
$font-Flaticon-video-player               : "\f267";
$font-Flaticon-video-player-1             : "\f268";
$font-Flaticon-video-player-2             : "\f269";
$font-Flaticon-view                       : "\f26a";
$font-Flaticon-view-1                     : "\f26b";
$font-Flaticon-view-2                     : "\f26c";
$font-Flaticon-volume-control             : "\f26d";
$font-Flaticon-volume-control-1           : "\f26e";
$font-Flaticon-warning                    : "\f26f";
$font-Flaticon-wifi                       : "\f270";
$font-Flaticon-wifi-1                     : "\f271";
$font-Flaticon-windows                    : "\f272";
$font-Flaticon-windows-1                  : "\f273";
$font-Flaticon-windows-2                  : "\f274";
$font-Flaticon-windows-3                  : "\f275";
$font-Flaticon-windows-4                  : "\f276";
$font-Flaticon-wireless-internet          : "\f277";
$font-Flaticon-worldwide                  : "\f278";
$font-Flaticon-worldwide-1                : "\f279";
$font-Flaticon-zoom-in                    : "\f27a";
$font-Flaticon-zoom-out                   : "\f27b";
