<div  class="container">
    <div class="text-xs-center">
        {% set item = count %}
        {% include "molecules-count" %}
    </div>

    {% include "organisms-info" with { includeFile: "molecules-infobox-01" } %}
</div>

