<div class="grid-01">
    <div class="grid__item {% if content_01_image %}grid__item--bg{% endif %}">
        {% block content_01 %}{% endblock %}
    </div>

    <div class="grid__item {% if content_02_image %}grid__item--bg{% endif %}">
        {% block content_02 %}{% endblock %}
    </div>
</div><!-- .grid-01 -->
