
.infobox {
  .box_sectitle {
    font-family: 'Tenor Sans',sans-serif;
    font-size: $font-size-base;
    font-weight: 400;

    color: $third-color;
  }

  .box__title h4 {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;

    color: $secondary-color;

    @include rem ((
      font-size: 36px,
    ));
  }

  .box__desc {
    color: $text-color;
    line-height: 1.875;

    @include rem ((
      font-size: 18px
    ))
  }
}

.infobox--02 {
  .box__title h4 {
    @include rem ((
      font-size: 60px
    ));
  }
}
