<div class="infobox-02">
    {% if item.age %}
        <div class="box__age">
            Age / {{item.age}}
        </div>
    {% endif %}
    {% if item.profession %}
        <div class="box__profession">
            Profession / {{item.profession}}
        </div>
    {% endif %}
    {% if item.hobby %}
        <div class="box__hobby">
            Hobby / {{item.hobby}}
        </div>
    {% endif %}
</div>
