
.infobox {
  position: relative;

  h2.box__title {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    text-transform:uppercase;
    color: $primary-color;

    @include rem ((
      font-size: 36px,
    ));
  }

  .box__time,
  .box__location {
    @extend %font-bold;
    line-height: unset !important;
  }

  .box__time {
    @include rem ((
      margin-top: 10px,
      margin-bottom: 15px,
    ));
  }

  .box__desc {
    color: $text-color;
    @include rem ((
      font-size: 18px,
      line-height: 30px,
      margin-bottom: 5px,
    ))
  }

  a {
    @include rem ((
      font-size: 12px,
    ))
  }


  @include media-breakpoint-up(lg) {
    .box__location {
      @include rem ((
        margin-bottom: 25px,
      ));
    }

    .box__desc {
      @include rem ((
        margin-bottom: 24px,
      ));
    }
  }
}

// Style 02
.infobox--02 {
  h2.box__title {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  @include media-breakpoint-up (lg) {
    h2.box__title {
      @include rem ((
        font-size: 60px,
        margin-bottom: 10px,
      ));
    }

    .box__desc {
      @include rem ((
        margin-right: 0,
        margin-bottom: 25px,
      ))
    }
  }
}

// Style 03
.infobox--03 {
  .box__number {
    @include rem ((
      font-size: 50px,
      font-family: 'Bombshell Pro',
      font-weight: bold,
      color: $secondary-color,
    ));
  }

  h2.box__title{
    @include rem ((
      text-transform: uppercase,
      color: $default-color,
      font-size: 24px,

    ));
  }

  .box__desc {
    @include rem ((
      font-size: 15px,
      line-height: 26px,
      color: $text-third-color,
      margin-bottom: 0,
    ))
  }

  @include media-breakpoint-up (xl) {
    .box__number {
      @include rem ((
        font-size: 150px,
        position: relative,
        top: 90px,
        z-index: -10,
      ));
    }

    h2.box__title {
      @include rem ((
        font-size: 36px,
        z-index: 10,
        margin-bottom: 30px,
      ))
    }

    .box__desc {
      @include rem ((
        margin-bottom: 80px,
      ))
    }
  }
}

// Style 04
.infobox--04 {
  @include media-breakpoint-up (lg) {
    h2.box__title {
      @include rem ((
        font-size: 48px,
        line-height: 55px,
        margin-bottom: 20px,
      ));
    }

    .box__desc {
      @include rem ((
        margin-bottom: 55px,
      ));
    }
  }
}

// Style 5
.infobox--05 {
  .box__title {
    @include rem ((
      position: relative,
      top: 10px,
    ));
  }

  .box-event__date {
    @include rem ((
      font-family: "Bombshell Pro",
      font-size: 70px,
      color: $secondary-color,
      display: inline,
      opacity: .5,
    ));
  }

  .box-event__month {
    @include rem ((
      text-transform: uppercase,
      display: inline-block,
      position:absolute,
      top: 60px,
      left: 50px,
    ));
  }

  .box-event {
    @include rem ((
      position: relative,
      top: 30px,
    ));
  }

  .box__time {
    margin-bottom: 0;
  }

  a {
    @include rem ((
      font-size: 12px,
    ))
  }

  @include media-breakpoint-up (lg) {
    .box-event {
      @include rem ((
        top: -120px,
        position: absolute,
      ));
    }

    .box-event__date {
      @include rem ((
        font-size: 150px,
      ));
    }

    .box__title {
      @include rem ((
        margin-bottom: 20px,
      ));
    }

    .box__desc {
      @include rem ((
        font-size: 15px,
        line-height: 26px,
        margin-bottom: 10px,
        margin-right: 0,
      ))
    }

    .box-event__month {
      @include rem ((
      top: 65px,
      left: 160px,
      ));
    }
  }
}
