<div class="personal">
    {% if item.age %}
        <div class="box__age">
            Age / <span>{{item.age}}</span>
        </div>
    {% endif %}
    {% if item.profession %}
        <div class="box__profession">
            Profession / <span> {{item.profession}} </span>
        </div>
    {% endif %}
    {% if item.hobby %}
        <div class="box__hobby">
            Hobby / <span> {{item.hobby}} </span>
        </div>
    {% endif %}
    <!--Infobox 02 -->
</div>
