<div class="container-fluid">
    {% set header = section.header %}
    {% include "organisms-header" %}
    {% set figure = section.header.figure %}
    {% include "molecules-figure" %}
    <!-- header section-->
</div>

<div class="container">
    <section>
    <div class="text-xs-center">
        {% set item = section_02.count %}
        {% include "molecules-count" %}
    </div>
    {% set info = section_02.info %}
    {% include "organisms-info" with { includeFile: "molecules-infobox" } %}
    <!-- section 02 -->
    </section>

    <section class="text-xs-center">
        {% include "atoms-sectitle" with {sectitle: section_03.sectitle } %}
        <div class="count-container">
            {% for item in section_03.count %}
                {% include "molecules-count"  %}
            {% endfor %}
        </div>
        <!--section 03-->
    </section>

    <section>
        <div class="text-xs-center">
        {% include "atoms-sectitle" with {sectitle: section_04.sectitle } %}
        </div>
            {% set swiper = section_04.swiper %}
            {% include "organisms-swiper" with {includeFile:"molecules-infobox" , pagination: "true" } %}
        <!--section 04-->
    </section>
    <section>
        <div class="text-xs-center">
        {% include "molecules-quote" with {item: section_05.quote} %}
        <div class="row">
        <div class="col-lg-10 pull-lg-2">
            {% set swiper = section_05.swiper %}
            {% include "organisms-swiper" with { includeFile:"molecules-infobox" } %}
        </div>
        <div class="col-lg-2 pull-lg-2">
            {% include "atoms-sectitle" with {sectitle: section_05.sectitle } %}

        </div>
        </div>
        <div class="row">
            <div class="col-lg-2 push-lg-2">
                {% include "atoms-sectitle" with {sectitle : section_05.sectitle_02 } %}
            </div>
        <div class="col-lg-10 push-lg-2">
            {% set swiper = section_05.swiper_02 %}
            {% include "organisms-swiper" with { includeFile:"molecules-infobox" } %}
        </div>
    </div>
    </div>
        <!--section 05-->
    </section>
    <section>
    <div class="row">
        <div class="col-lg-4">
            {% set item = section_06.info_01 %}
            {% include "molecules-infobox" %}
            {% include "atoms-image" with { img:section_06.info_01.imgBottom  }%}
        </div>
        <div class="col-lg-8">
            {% set info = section_06.info_02 %}
            {% include "organisms-info" with { includeFile: "molecules-infobox"} %}
        </div>
    </div>
    <!--section 06-->
    </section>
    <section>
    {% set item = section_07.title %}
    {% include "molecules-title" %}

    {% set swiper_data = section_07.swiper_data %}
    {% set swiper = section_07.swiper %}
    {% include "organisms-swiper" with { includeFile: "molecules-infobox"} %}
    <!--section 07-->
    </section>
    <section>
    <div class="text-xs-left">
        {% set item = section_08.title %}
        {% include "molecules-title" %}
    </div>
    {% set info = section_08.info %}
    {% include "organisms-info" with { includeFile:"molecules-infobox"} %}
    <!--section 08-->
    </section>
</div>


