<div class="container-fluid">
    <header>
        {% set header = section.header %}
        {% include "organisms-header" %}
    </header>
        {% set figure = section.header.figure %}
        {% include "molecules-figure" with { figureStyleModifier:" fig--02"} %}
        <!-- header section-->
 </div>

</div>
<div class="section-01">
    <div class="w1400px">
        <div class="container-fluid">
            <div class="text-xs-center">
                {% set item = section_01.count %}
                {% include "molecules-count" with { countStyleModifier:" count--02"} %}
            </div>

            {% set info = section_01.info %}
            {% include "organisms-info" with {infoStyleModifier:" info--03" ,rowStyleModifier: " no-gutters", includeFile: "molecules-infobox", modifierFile:" infobox--02" } %}

            <div class="text-xs-center">
                {% include "atoms-sectitle" with {sectitle: section_01.sectitle } %}
                <div class="count-container">
                    {% for item in section_01.count_02 %}
                        {% include "molecules-count"  %}
                    {% endfor %}
                </div>
            </div>
        <!-- section 01 -->
        </div>
    </div>
</div>

<div class="section-02">
    <div class="w1400px">
        <div class="text-xs-center">
        {% include "atoms-sectitle" with {sectitle: section_02.sectitle } %}
        </div>
        {% set swiper_data = section_02.swiper_data %}
        {% set swiper = section_02.swiper %}
        {% include "organisms-swiper" with {includeFile:"molecules-infobox",modifierFile: " infobox--03" , includeFileSync: "molecules-infobox" ,swiperStyleModifier: " swiper--02" } %}
    <!--section 02-->
    </div>
</div>

<div class="section-03">
    <div class="container-fluid ">
        <div class="text-xs-center">
            {% include "molecules-quote" with {item: section_03.quote} %}
        </div>
        <div class="groom-swiper">
            <div class="row">

                <div class="col-lg-9  ">
                    {% set swiper_data = section_03.swiper_data %}
                    {% set swiper = section_03.swiper %}
                    {% include "organisms-swiper" with { includeFile:"molecules-infobox"} %}
                    {% include "atoms-decoration" with { decoration:section_03.decoration} %}
                </div>
                <div class="col-lg-3 ">
                    {% include "atoms-sectitle" with {sectitle: section_03.sectitle} %}
                </div>
            </div>
        </div>
        <div class="bride-swiper">
            <div class="row">

                <div class="col-lg-9 push-lg-3 ">
                    {% set swiper_data = section_03.swiper_data %}
                    {% set swiper = section_03.swiper_02 %}
                    {% include "organisms-swiper" with { includeFile:"molecules-infobox", swiperStyleModifier:" swiper--04" } %}
                </div>

                <div class="col-lg-3 pull-lg-9">
                    {% include "atoms-sectitle" with {sectitle : section_03.sectitle_02 } %}
                </div>
            </div>
        </div>
</div>
    <!--section 03-->
</div>

<div class="section-04">
    <div class="w1400px">
    <div class="container-fluid">
        {% include "atoms-sectitle" with {sectitle:section_04.sectitle} %}
        <div class="row">
            <div class="col-lg-5">
                {% set item = section_04.info_01 %}
                {% include "molecules-infobox" with {infoboxStyleModifier:" infobox--04"} %}
                {% include "atoms-image" with { img:section_04.info_01.imgBottom  }%}
            </div>

            <div class="cross-line">
                <hr>
                <hr class="vertical">
            </div>

            <div class="col-lg-7">
                {% set info = section_04.info_02 %}
                {% include "organisms-info" with { includeFile: "molecules-infobox" ,modifierFile: " infobox--05", infoStyleModifier: " info--02"} %}
            </div>
        </div>
    </div>
    <!--section 04-->
    </div>
</div>


<div class="section-05">
    <div class="container-fluid">
        {% include "atoms-sectitle" with {sectitle: section_05.sectitle, sectitleStyleModifier: " sectitle--02" } %}
        <div class="hidden-lg-down">
        {% set swiper_data = section_05.swiper_data %}
        {% set swiper = section_05.swiper %}
        {% include "organisms-swiper" with { includeFile: "molecules-infobox", swiperStyleModifier: " swiper--03"} %}
        </div>
        <div class="hidden-xl-up">
            {% set swiper_data = section_05.swiper_data_2 %}
            {% set swiper = section_05.swiper %}
            {% include "organisms-swiper" with { includeFile: "molecules-infobox", swiperStyleModifier: " swiper--03"} %}
        </div>
    </div>
    <!--section 05-->
</div>

<div class="section-06">
    <div class="w1400px">
        <div class="container-fluid">
        {% include "atoms-sectitle" with {sectitle:section_06.sectitle} %}
        {% set info = section_06.info %}
        {% include "organisms-info" with { includeFile:"molecules-infobox"} %}
        </div>
        <!--section 06-->
    </div>
</div>

<div class="section-07">
    {% include "molecules-title" with {title:section_07.title }%}
</div>


