<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {% set item = info_01 %}
            {% include "molecules-infobox-01" %}
        </div>
        <div class="col-lg-8">
            {% set info = info_02 %}
            {% include "organisms-info" with { includeFile: "molecules-infobox-01"} %}
        </div>
    </div>
</div>
    {#{% set info = info_01 %}
    {% include "organisms-info" with { includeFile: "molecules-infobox-01", nestedContent: "true", modifier: " columbus" } %}#}
