<span class="count{{countStyleModifier}}">
    <span class="count__number" id="{{item.id}}">
        {{item.number}}
    </span>
    <span class="count__text">
        {{item.text}}
    </span>
</span>
