.count {
  .count__number {
    font-weight: 400;
    font-family: 'Italiana',sans-serif;
    color: $secondary-color;
    @include rem ((
      font-size: 50px
    ));

    @include media-breakpoint-up(md) {
      @include rem ((
        font-size: 100px,
      ))
    }

    @include media-breakpoint-up(lg) {
      @include rem ((
      font-size: 180px,
    ));
    }
  }

  .count__text {
    @include media-breakpoint-up(lg){
      @include rem ((
        font-size: 14px,
        text-transform:uppercase,

        position: relative,
        bottom: 5px,
        right: 30px
    ));
    }
  }
}

//  Style 02
.count--02 {
  display: block;

  .count__number {
    font-family: 'Bombshell Pro';

    @include rem ((
      font-size: 150px
    ));

    @include media-breakpoint-up (lg) {
      @include rem ((
      font-size: 300px
    ));
    }
  }

  .count__text {
    @include rem ((
      text-transform: uppercase,
      font-size: 20px,
      font-family: "Italiana",
      font-weight: 400,
      letter-spacing: .5px,
      display: block,
      position: relative,
      bottom: 40px,
    ));

    @include media-breakpoint-up (lg) {
      @include rem ((
        bottom: 160px,
        left: 110px,
        font-size: 36px,
      ));
    }
  }
}
