.count {
  position: relative;
  display: inline-block;

  .count__number {
    font-family: 'Italiana',sans-serif;
    color: $secondary-color;
  }

  .count__text {
    text-transform:uppercase,
  }
}

// Style 02
.count--02 {
  .count__number {
    @include rem ((
      font-size: 50px
    ));

    @include media-breakpoint-up(md) {
      @include rem ((
        font-size: 100px,
      ))
    }

    @include media-breakpoint-up(lg) {
      @include rem ((
      font-size: 180px,
      ));
    }
  }

  .count__text {
    @include media-breakpoint-up(lg){
      @include rem ((
        font-size: 14px,
    ));
    }
  }
}

//  Style 03
.count--03 {
  .count__number {
    font-family: 'Bombshell Pro';

    @include rem ((
      font-size: 150px
    ));

    @include media-breakpoint-up (lg) {
      @include rem ((
      font-size: 300px
    ));
    }
  }

  .count__text {
    @include rem ((
      font-size: 20px,
      font-family: "Italiana",
      letter-spacing: .5px,
      display: block,
      position: relative,
      bottom: 40px,
    ));

    @include media-breakpoint-up (lg) {
      @include rem ((
        bottom: 160px,
        left: 110px,
        font-size: 36px,
      ));
    }
  }
}
