<nav class="nav{{navStyleGuide}}">
    {% for item in navList %}
        <a href="{{ item.link|default('#') }}" {% if item.class %}class="{{ item.class }}"{% endif %}>{{ item.text|raw }}</a>
    {% endfor %}
</nav>
<!--navigation-->
