<div class="container">
    <div class="row text-xs-center">
        {% include "atoms-title" with {item: section_title} %}
        <div class="h1">
            {% for item in count %}
                {% include "molecules-count"  %}
            {% endfor %}
        </div>
    </div>
</div>
