<div class="title{{titleStyleModifier}}">
    <h3>{{title.heading|default('title')}}
    </h3>
{% if title.description %}
    <div class="title__desc">
    {{title.description}}
    </div>
{% endif %}
</div>
