
/*  PLACE HOLDER */
 %container-width {
  @include rem ((
    width: 1400px,
    max-width: 100%,
    margin-left: auto,
    margin-right: auto,
  ))
}

%font-bold {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: $secondary-color;
}

.w1400px {
  @extend %container-width;
}

/*  SECTITLE  */

.sectitle {
  @extend %font-bold
}

.sectitle--02 {
  @include rem ((
    text-transform: initial,
    letter-spacing: 0,
    font-family: 'Italiana',
    font-size: 50px,
  ));

  @include media-breakpoint-up (md) {
    @include rem((
      font-family: 'Bombshell Pro',
      font-size: 100px,
    ))
  }

  @include media-breakpoint-up (lg) {
    @include rem((
      font-size: 150px,
    ))
  }
}

/*DECORATION*/

.row {
  position: relative;
}

[class*="deco"] {
  display: none;
  position: absolute;
  z-index: 10;

  @include media-breakpoint-up (xl) {
    display: initial;
  }
}

/*  SECTION  */

//hero section
.hero-section {
  overflow: hidden;
  background: $primary-color;
  position: relative;

  figure {
    position: relative;

    @include media-breakpoint-up (lg) {
      @include rem ((
        left: 5.5%,
        padding-top: 100px,
      ));

      img {
        width: 100%;
      }
    }
  }

  .navbar {
    width: 100%;

    @include media-breakpoint-up (lg) {
      @include rem  ((
        padding: 0 80px 0 5.5%,
        height: 100px,
      ))
    }
  }
}

//section 01
.section-01 {
  .info {
    @include rem ((
      margin-top: -300px,
    ));
  }

  .count--03 {
    @include rem ((
      margin-top: 0px,
    ))
  }

  @include media-breakpoint-up (lg) {
    .info {
      @include rem ((
        margin-top: -35px,
        margin-bottom: 230px,
      ))
    }
  }

  @include media-breakpoint-up (xl) {
    .count--03 {
      @include rem ((
        margin-top: -110px,
      ))
    }

    .count-container {
      @include rem ((
        margin-top: -50px,
      ));
    }
  }
}

//section 02
.section-02 {
  @include rem ((
    position: relative,
    height: 500px,
    background-image: url("../../assets/images-demo/swiper/swiper-bg.jpg"),
    background-size: cover,
  ));

  .sectitle {
    @include rem ((
      position: relative,
      top: 10px,
      color: $default-color,
      opacity: 0.7,
    ));
  }

  .swiper {
    @extend %container-width;
    position: absolute;
    bottom: 0;
    padding: 0 20px;
  }

  @include media-breakpoint-up (xl) {
    @include rem ((
      height: 1080px,
      background-image: url("../../assets/images-demo/swiper/swiper-bg.png"),
    ));

    .sectitle {
      @include rem ((
        top: 150px,
      ));
    }

    .swiper {
      @include rem ((
        transform:translateX(85px),
      ))
    }
  }
}

//secion 03
.section-03 {
  .container-fluid {
    overflow: hidden;
  }

  .sectitle {
    position: relative;
  }

  .quote {
    @include rem ((
      margin: 100px auto,
     ));
   }

  @media (max-width: 435px) {
    .sectitle {
      color: $default-color;
      background-color: $primary-color;
      text-align: center !important;
      line-height: 3;
    }

    .infobox {
      @include rem ((
        position: relative,
        top: 60px,
      ))
    }
  }

  @include media-breakpoint-up (lg) {
    .sectitle {
      @include rem ((
        margin-top:60px,
      ));
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
  }

  @include media-breakpoint-up (xl) {
    .quote {
      @include rem ((
        margin: 240px auto 290px auto,
      ));
    }

    .sectitle {
      @include rem ((
        margin-top:70px,
      ))
    }

    .deco {
      @include rem ((
        bottom: -70px,
        right: -30px,
      ));
    }

    .bride-swiper,
    .groom-swiper {
      position: relative;
    }

    .bride-swiper {
      left: 12.7%;
    }

    .groom-swiper {
      right: 15%;

      .swiper__item {
        @include rem ((
          transform: translateX(35px),
        ));
      }

      .row {
        @include rem  ((
          margin-bottom: 75px,
        ));
      }
    }

    .infobox {
      @include rem ((
        margin-bottom: 30px,
      ))
    }
  }
}

//section 04
.section-04 {
  .cross-line {
    display: none;
  };

  @include media-breakpoint-up (lg) {
    .infobox--04 {
      @include rem ((
        margin-right: 50px,
      ))
    }
  }

  @include media-breakpoint-up (xl) {
    .infobox--04 {
      @include rem ((
        margin-right: 150px,
      ))
    }


    .cross-line {
      @include rem ((
        display: inherit,
        position: relative,
        top: 420px,
        right: 50px,
        opacity: .5,
        z-index: 0,
      ));

      .vertical {
        transform: rotate(90deg);
      }
    }
  }
}

.section-04,
.section-05,
.section-06 {
  background-color: $default-color;
}

//section 05
.section-05 {
  .sectitle {
    @include rem ((
      position: relative,
      z-index: 10,
      top: 0,
      padding-left: 20px,
    ));
  }

  @include media-breakpoint-up (xl ){
    img {
      width: 100%;
    }

    .sectitle {
      @include rem ((
        margin-left: 240px,
        line-height: 0.3,
      ));
    }
  }
}

//section 06
.section-06 {
  .sectitle {
    @include rem ((
      margin-bottom: 10px,
    ));
  }

  @include media-breakpoint-up (lg) {
    .sectitle {
      @include rem ((
        margin-bottom: 60px,
      ));
    }
  }
}

//section 07
.section-07 {
  #attend-form {
    @include rem ((
      padding:20px ,
    ))
  }

  @include media-breakpoint-up (lg) {
    .title {
      @include rem ((
        position:relative,
        top: 170px,
        z-index: 10,
        margin-left: auto,
        margin-right: auto,
      ))
    }

    .form-bg {
      @include rem ((
        height: 900px,
      ));

      #attend-form {
        @include rem ((
          padding: 0,
          padding-top: 280px,
          margin: 0 230px 0 235px,
        ))
      }
    }

    .deco {
      @include rem ((
        position: absolute,
        left: -50px,
        bottom: 200px,
      ))
    }

    .deco-02 {
      @include rem ((
        position:absolute,
        top: 210px,
        right: -95px,
      ))
    }
  }
}

/* SPACE BETWEEN SECTION*/
.section-01 {
  @include media-breakpoint-up (lg) {
    @include rem ((
      padding-bottom: 150px,
    ));
  }
}

.section-03 {
@include rem ((
    padding-bottom: 50px,
  ));

  @include media-breakpoint-up (lg) {
    @include rem ((
      padding-bottom: 240px,
    ));
  }
}

.section-04 {
  @include rem ((
    padding-top: 220px,
    padding-bottom: 50px,
  ));

  @include media-breakpoint-up (xl) {
    @include rem ((
      margin-bottom: -110px,
    ))
  }
}

.section-05 {
  @include media-breakpoint-up (xl) {
    @include rem ((
      padding-bottom: 120px,
    ));
  }
}

.section-06 {
  @include media-breakpoint-up (lg) {
    @include rem ((
      padding-bottom: 200px,
      padding-top: 20px,
    ));
  }
}

.section-08 {
  @include rem ((
    padding-top: 100px,
    padding-bottom: 100px,
  ));
  @include media-breakpoint-up (lg) {
    @include rem ((
      padding-top: 210px,
      padding-bottom: 260px,
    ))
  }
}


/* INFO */
.info {
  .infobox {
    @include rem ((
      margin-bottom: 50px,
    ));
  }

  @include media-breakpoint-up (lg) {
    img {
      @include rem ((
        margin-bottom: 30px,
      ));
    }

    .infobox {
      @include rem ((
        margin-right: 80px,
      ));
    }
  }
}

// Style 2
.info--02 {
  .infobox--05 {
    @include rem ((
      margin-bottom: 40px,
    ));
  }

  @include media-breakpoint-up (lg) {
    .infobox--05 {
      @include rem ((
         margin-right: 0,
         margin-bottom: 200px,
         max-height: 200px,
         // dat max-height de fix loi tran column
      ));
    }
  }

  @include media-breakpoint-up (xl) {
    .infobox--05 {
      @include rem ((
         left: 15px,
         top :-15px,
         margin-right: 140px,
         margin-bottom: 370px,
      ));
    }
  }
}

// Style 3
.info--03 {
  .infobox {
    margin-right: 0;
  }

  .deco {
    @include rem ((
      left: 10%,
      top: 18%,
    ));
  }

  .deco-2 {
    @include rem ((
      left: 80px,
    ));
  }

  .groom,
  .bride {
    @include rem ((
    margin-bottom: 40px,
    ))
  }

  @include media-breakpoint-up (lg) {
    .sectitle {
      @include rem ((
        margin-bottom: 10px,
      ));
    }

    .groom {
      @include rem ((
        margin-left: 50px,
      ));
    }

    img {
      @include rem ((
        margin-bottom: 50px,
       ));
     }
  }

  @include media-breakpoint-up (xl) {
    .bride {
      float: right;
    }

    .groom,
    .bride {
      @include rem ((
        width: 450px,
      ));
    }

    .groom {
      @include rem ((
        margin-left: 100px,
      ))
    }
  }
}

/* FORM */
#attend-form {
  @include media-breakpoint-up (lg) {
    .form-group {
      @include rem ((
        margin-bottom: -5px,
      ))
    }

    .control {
      @include rem ((
        margin-bottom: 65px,
      ));
    }

    .btn-attend {
      @include rem  ((
        margin-top: 80px,
      ));
    }
  }

  h4 {
    @include rem ((
      font-size: 18px,
      color: $primary-color,
      margin-bottom: 35px,
    ))
  }
}
/*FORM*/

#attend-form {
  .form-control,
  select,
  textarea,
  input {
    @include rem ((
      display: block,
      width: 100%,
      padding: 1.1875rem 0,
      font-size: 18px,
      line-height: 1.25,
      color: $primary-color,
      background-color: initial,
      background-image: none,
      background-clip: padding-box,
      border: 0px solid #e8e8e8,
      border-bottom: 1px solid #BCB8BD,
      border-radius: 0px,
    ));

    //focus
    &:focus {
      box-shadow: none;
      background-color: rgba(207,192,197,0.8  )
    }

    // placeholder
    &::placeholder {
      color: $primary-color;
    }
  }
}

.form-bg {
  @extend %container-width;
  background-color: #CFC0C5;
  background-image: url('../../assets/images-demo/wedding/attend-bg.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position:left bottom;
  border-radius: 0.5rem;
  position: relative;
}

// custom button attend
.btn-attend {
  @include rem ((
    font-family: "Italiana",
    font-size: 36px,
    border: 0px,
    border-bottom: 2px solid ,
    border-radius: 0,
    background-color: initial,
    color: $secondary-color,
    letter-spacing: 0,
    padding: 6px,
  ));

  &:hover {
    background-color: initial;
    color: $primary-color;
    transition: all .3s;
    border-bottom: 5px solid;
  }
}

.control {
  @include rem ((
    font-size: 15px,
    position: relative,
    display: block,
    margin-bottom: 15px,
    margin-right: 40px,
    padding-left: 30px,
    cursor: pointer,

  ))
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  @include rem ((
    position: absolute,
    top: 2px,
    left: 0,
    width: 20px,
    height: 20px,
    border: 2px solid $secondary-color,
    transition: 0.3s all,
  ))
}

.control--radio .control__indicator {
  border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator,
.control input:checked ~ .control__indicator {
	background: $secondary-color;
  transition: 0.3s all;
}

// WEDDING
.wedding {
  @include rem ((
    position: relative,
    width: 255px,
  ));

  .deco {
    @include rem ((
      position:absolute,
      bottom:0,
      left: -25px,

    ));
    img {
      max-width: none;
    }
  }

  @include media-breakpoint-up (lg) {
    @include rem ((
      width: 500px,
      height: 550px,
      border: 0,
    ));
  }
}

.wedding__date {
  @include rem ((
    font-family: "Bombshell Pro",
    font-size: 100px,
    color: $secondary-color,
    position: absolute,
  ));

  @include media-breakpoint-up (lg) {
    @include rem ((
      font-size: 300px,
      line-height: 1.1,
      top: 0,
      left: -5px,
    ))
  }
}

.wedding__time {
  @extend %font-bold;

  @include rem ((
    font-family: "Tenor Sans",
    margin-left: 5px,
  ))
}

.wedding__couple {
  @include rem ((
    font-family: "Italiana",
    font-size: 40px,
    text-transform: uppercase,
    color: $text-color,
    line-height: calc(44/40),
  ));

  @include media-breakpoint-up (lg) {
    @include rem ((
      font-size: 60px,
    ))
  }
}

.wedding__couple span {
  @include rem ((
    font-size: 25px,
    position: absolute,
    left: -30px,
    top: 25px,
  ));

  @include media-breakpoint-up (lg) {
    @include rem ((
      top: 40px,
      font-size: 35px,
    ));
  }
}

.wedding__couple,
.wedding__time {
  @include rem ((
    position: relative,
    left: 130px,
  ));


  @include media-breakpoint-up (lg) {
    @include rem ((
      top: 85px,
      left: 265px,
    ));
  }
}
