
/*  PLACE HOLDER */

 %container-width {
  @include rem ((
    width: 1400px,
    max-width: 100%,
    margin-left: auto,
    margin-right: auto,
  ))
}

%font-bold {
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: $secondary-color;
  line-height: 2.5rem;
}

.w1400px {
  @extend %container-width;
}

/*  SECTITLE  */

.sectitle {
  @extend %font-bold
}

.sectitle--02 {
  @include rem ((
    text-transform: initial,
    letter-spacing: 0,
    font-family: 'Italiana',
    font-size: 50px,
  ));

  @include media-breakpoint-up (md) {
    @include rem((
      font-family: 'Bombshell Pro',
      font-size: 100px,
    ))
  }

  @include media-breakpoint-up (lg) {
    @include rem((
      font-size: 150px,
    ))
  }
}

/*DECORATION*/

.row {
  position: relative;
}

[class*="deco"] {
  display: none;
  position: absolute;
  z-index: 10;

  @include media-breakpoint-up (xl) {
    display: initial;
  }
}

/*  SECTION  */

//section 01
.section-01 {
  .info {
    @include rem ((

      margin-top: -300px,
    ));
  }

  .count--02 {
    @include rem ((
      margin-top: 0px,
    ))
  }

  @include media-breakpoint-up (lg) {
    .info {
      @include rem ((
        margin-top: -35px,
        margin-bottom: 230px,
      ))
    }
  }

  @include media-breakpoint-up (xl) {
    .count--02 {
      @include rem ((
        margin-top: -110px,
      ))
    }

    .count-container {
      @include rem ((
        margin-top: -50px,
      ));
    }
  }
}

//section 02
.section-02 {
  @include rem ((
    position: relative,
    height: 500px,
    background-image: url("../../assets/images-demo/swiper/swiper-bg.jpg"),
    background-size: cover,
  ));

  .sectitle {
    @include rem ((
      position: relative,
      top: 10px,
      color: $default-color,
      opacity: 0.7,
    ));
  }

  .swiper {
    @extend %container-width;
    position: absolute;
    bottom: 0;
    padding: 0 20px;
  }

  @include media-breakpoint-up (xl) {
    @include rem ((
      height: 1080px,
      background-image: url("../../assets/images-demo/swiper/swiper-bg.png"),
    ));

    .sectitle {
      @include rem ((
        top: 150px,
      ));
    }

    .swiper {
      @include rem ((
        transform:translateX(85px),
      ))
    }
  }
}

//secion 03
.section-03 {
  .sectitle {
    position: relative;
  }

  .quote {
    @include rem ((
      margin: 100px auto,
     ));
   }

  @media (max-width: 435px) {
    .sectitle {
      color: $default-color;
      background-color: $primary-color;
      text-align: center !important;
    }

    .infobox {
      @include rem ((
        position: relative,
        top: 60px,
      ))
    }
  }

  @include media-breakpoint-up (lg) {
    .sectitle {
      top: 3rem;
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
  }

  @include media-breakpoint-up (xl) {
    .quote {
      @include rem ((
        margin: 240px auto 290px auto,
      ));
    }

    .sectitle {
      top: 4rem;
    }

    .deco {
      @include rem ((
        bottom: -70px,
        right: -30px,
      ));
    }

    .bride-swiper,
    .groom-swiper {
      position: relative;
    }

    .bride-swiper {
      left: 12.7%;
    }

    .groom-swiper {
      right: 15%;

      .swiper__item {
        @include rem ((
          transform: translateX(35px),
        ));
      }

      .row {
        @include rem  ((
          margin-bottom: 75px,
        ));
      }
    }

    .infobox {
      @include rem ((
        margin-bottom: 30px,
      ))
    }
  }
}

//section 04
.section-04 {
  .cross-line {
    display: none;
  };

  @include media-breakpoint-up (lg) {
    .infobox--04 {
      @include rem ((
        margin-right: 50px,
      ))
    }
  }

  @include media-breakpoint-up (xl) {
    .infobox--04 {
      @include rem ((
        margin-right: 150px,
      ))
    }


    .cross-line {
      @include rem ((
        display: inherit,
        position: relative,
        top: 420px,
        right: 50px,
        opacity: .5,
        z-index: 0,
      ));

      .vertical {
        transform: rotate(90deg);
      }
    }
  }
}

.section-04,
.section-05,
.section-06 {
  background-color: $default-color;
}

//section 05
.section-05 {
  .sectitle {
    @include rem ((
      position: relative,
      z-index: 10,
      top: 0,
      padding-left: 20px,
    ));
  }

  @include media-breakpoint-up (xl ){
    @include rem ((
      height: 1000px,
    ));

    .sectitle {
      @include rem ((
        left: 240px,
      ));
    }
  }
}

//section 06
.section-06 {
  .sectitle {
    @include rem ((
      margin-bottom: 10px,
    ));
  }

  @include media-breakpoint-up (lg) {
    .sectitle {
      @include rem ((
        margin-bottom: 60px,
      ));
    }
  }
}

/* SPACE BETWEEN SECTION*/
.section-01 {
  @include media-breakpoint-up (lg) {
    @include rem ((
      padding-bottom: 150px,
    ));
  }
}

.section-03 {
  @include rem ((
    padding-bottom: 50px,
  ));

  @include media-breakpoint-up (lg) {
    @include rem ((
      padding-bottom: 240px,
    ));
  }
}

.section-04 {
  @include rem ((
    padding-top: 220px,
    padding-bottom: 50px,
  ));

  @include media-breakpoint-up (xl) {
    @include rem ((
      margin-bottom: -110px,
    ))
  }
}

.section-05 {
  @include media-breakpoint-up (xl) {
    @include rem ((
      padding-bottom: 120px,
    ));
  }
}

.section-06 {
  @include media-breakpoint-up (lg) {
    @include rem ((
      padding-bottom: 200px,
      padding-top: 180px,
    ));
  }
}


/* INFO */
.info {
  .infobox {
    @include rem ((
      margin-bottom: 50px,
    ));
  }

  @include media-breakpoint-up (lg) {
    img {
      @include rem ((
        margin-bottom: 30px,
      ));
    }

    .infobox {
      @include rem ((
        margin-right: 80px,
      ));
    }
  }
}

// Style 2
.info--02 {
  .infobox--05 {
    @include rem ((
      margin-bottom: 40px,
    ));
  }

  @include media-breakpoint-up (lg) {
    .infobox--05 {
      @include rem ((
         margin-right: 0,
         margin-bottom: 200px,
         max-height: 200px,
      ));
    }
  }

  @include media-breakpoint-up (xl) {
    .infobox--05 {
      @include rem ((
         left: 15px,
         top :-15px,
         margin-right: 140px,
         margin-bottom: 370px,
      ));
    }
  }
}

// Style 3
.info--03 {
  .infobox {
    margin-right: 0;
  }

  .deco {
    @include rem ((
      left: 10%,
      top: 18%,
    ));
  }

  .deco-2 {
    @include rem ((
      left: 80px,
    ));
  }

  .groom,
  .bride {
    @include rem ((
    margin-bottom: 40px,
    ))
  }
  @include media-breakpoint-up (lg) {
    .sectitle {
      @include rem ((
        margin-bottom: 10px,
      ));
    }

    .groom {
      @include rem ((
        margin-left: 50px,
      ));
    }

    img {
      @include rem ((
        margin-bottom: 50px,
       ));
     }
  }

  @include media-breakpoint-up (xl) {
    .bride {
      float: right;
    }

    .groom,
    .bride {
      @include rem ((
        width: 450px,
      ));
    }

    .groom {
      @include rem ((
        margin-left: 100px,
      ))
    }
  }
}
