<div class="info{{infoStyleModifier}}">
    <div class="row{{rowStyleModifier}}">
    {% for item in info %}
        {% if item.decoration %}
            {% include "atoms-decoration" with { decoration: item.decoration} %}
        {% endif %}
        {% if item.column %}
        <div class="{{item.column}}">
    {% endif %}
    {% if item.sectitle %}
        {% include "atoms-sectitle" with {sectitle:item.sectitle }%}
    {% endif %}
    {% if item.img %}
        {% include "atoms-image" with {img: item.img } %}
    {% endif %}

    {% include includeFile with { infoboxStyleModifier: modifierFile } %}
    {% if item.imgBottom %}
        {% include "atoms-image" with { img: item.imgBottom } %}
    {% endif %}

    {% if item.personal %}
        {% include "molecules-personal"%}
    {% endif %}

    {% if item.decoration_btm %}
        {% include "atoms-decoration" with { decoration: item.decoration_btm} %}
    {% endif %}

    {#</div>#}
{% if item.nestedCol %}
    <div class="row">
        {#vong lap for cho nested column trong Bootstrap#}
        {% for item in item.nestedCol %}
            <div class="{{item.column}}">
                {% include includeFile with { infoboxStyleModifier: modifierFile } %}

                 {% if item.personal %}
                    {% include "molecules-personal"  %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% if item.column %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
