<div class="info{{infoStyleModifier}}">
    <div class="row">
    {% for item in info %}
        {% if item.column %}
        <div class="{{item.column}}">
    {% endif %}
     {% include includeFile with { infoboxStyleModifier: modifierFile } %}

{% if item.nestedCol %}
    <div class="row">
        {% for item in item.nestedCol %}
            <div class="{{item.column}}">
                <div class="{{item.class}}">
                {% include includeFile with { infoboxStyleModifier: modifierFile } %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{#su dung khi co nested column trong Bootstrap#}

    {% if item.column %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
