<div class="info{{infoStyleModifier}}">
    <div class="row">
    {% for item in info %}
        {% if item.column %}
        <div class="{{item.column}}">
    {% endif %}

{% if nestedContent == true %}
     {% include includeFile with { infoStyleModifier: modifierFile } %}
{% endif %}
<!-- content-->

{% if item.nestedCol %}
    <div class="row">
        {% for item in item.nestedCol %}
            <div class="{{item.column}}">
                {% include includeFile with { infoStyleModifier: modifierFile } %}
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% if item.column %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
