<div class="info{{infoStyleModifier}}">
    <div class="row">
    {% for item in info %}
        {% if item.column %}
        <div class="{{item.column}}">
    {% endif %}
    {% include includeFile with { infoboxStyleModifier: modifierFile } %}

{% if item.nestedCol %}
    <div class="row">

        {#vong lap for cho nested column trong Bootstrap#}
        {% for item in item.nestedCol %}
            <div class="{{item.column}}">
                {% include includeFile with { infoboxStyleModifier: modifierFile } %}
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% if item.column %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
